@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #000000;

  --hero-color-foreground: #8800c8;

  --icon-color-foreground: #000000;

  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-dm-sans: "DM Sans", sans-serif;
}

.dark {
  --color-background: #000000;
  --color-foreground: #ededed;

  --hero-color-foreground: #2fc1ff;

  --icon-color-foreground: #ffffff;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans);
}
